<div *ngIf="githubRepos" class="container mt-3">
  <div class="card-body">
    <div class="row equal-height-row">
      <div *ngFor="let repo of getCurrentPageRepos()" class="col-md-6 equal-height-col">
        <!-- Your card layout here -->
        <div class="card mb-3 h-100">
          <div class="card-body">
            <a [href]="repo.html_url" class="text-primary" target="_blank">
              <h5 class="card-title">{{repo.name}}</h5>
            </a>
            <p class="container">{{repo.description}}</p>
            <div *ngIf="githubRepos" class="languages-container">
              <div *ngFor="let language of getUniqueLanguages()" class="language">
                <p class="main">{{ language }}</p>
              </div>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pagination controls -->
<div class="container mt-3 text-center styles" *ngIf="githubRepos">
  <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
  <ng-container *ngFor="let page of getPageNumbers()">
    <button (click)="onPageChange(page)" [disabled]="currentPage === page">{{ page }}</button>
  </ng-container>
  <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === getTotalPages()">Next</button>
</div>
