<div>
  <div>
    <div>
      <ul>
        <li class="newpadding">
          <h4><b>{{githubProfile.name}}</b></h4>
        </li>
        <li class="newpadding">
        {{githubProfile.bio}}
        </li>
        <li class="newpadding">
          <span class="main"><i class="fas fa-location-dot"></i></span>{{githubProfile.location}}
        </li>
        <li class="newpadding">
        <a id="copyLink" href="https://twitter.com/{{githubProfile.twitter_username}}" target="_blank">https://twitter.com/{{githubProfile.twitter_username}}</a>
        </li>
      </ul>

   </div>

  </div>
</div>
