.card{
    text-align: center;
    border: 0;
}
img{
    width: 65%;
    height: auto;
    border-radius: 50%;
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto;
}
.card-body{
    border: 0;
}
.list-group{
  align-self: self-start;
  border: 0;
}
.main{
    padding-right: 5px;
}
.row{
    overflow-anchor: none;
}
